@use "./base/reset";
@use "./base/extends";
@use "./base/fonts" as *;
@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./icons/icons";

body {
  background-color: $bodybg;
}

main {
  width: 90%;
  margin: 20px auto;
  max-width: 550px;
  font-family: "Roboto", sans-serif;
}

.form {
  position: relative;
  background-color: $green;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;

  @extend %placeholdertextcolor;
  @extend %shadow;

  &__input {
    border: none;
    border-radius: 7px 0px 0px 7px;
    height: 65px;
    width: calc(100% - 32.5px);
    padding-left: 30px;
    padding-right: 60px;
    background-color: $light-green;
    color: white;
    font-size: 20px;
    outline: none;
  }
  &__submit {
    position: absolute;
    flex-shrink: 0;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border: none;
    right: 20px;
    top: 20px;
    cursor: pointer;
    &:before {
      font-family: icons;
      content: "\e000";
      font-size: 28px;
      color: $green;
    }
  }

  &--error {
    .form__input {
      background-color: $red;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__item {
    @extend %shadow;
    position: relative;
    font-size: 16px;
    color: $black;
    padding: 20px;
    min-height: 20px;
    background-color: $white;
    margin-bottom: 12px;
    border-radius: 10px;
    width: 95%;
    align-self: center;
    display: flex;

    &--checked {
      text-decoration: line-through;
      text-decoration-color: $green;
      text-decoration-thickness: 2px;

      .list__item__button--check {
        &:before {
          content: "\e003";
          color: $green;
        }
      }
    }

    &__text {
      padding-left: 14px;
    }
    &__button {
      border: none;
      background-color: white;
      align-self: center;
      cursor: pointer;
      position: absolute;

      &--remove {
        padding-right: 20px;
        right: 70px;
        &:hover {
          &:before {
            color: $red;
          }
        }
        &:after {
          position: absolute;
          content: "|";
          font-size: 22px;
          color: $grey;
          left: 45px;
          top: -1px;
        }
        &:before {
          font-family: icons;
          font-size: 20px;
          content: "\e001";
          color: $grey;
        }
      }
      &--check {
        right: 20px;

        &:before {
          font-family: icons;
          font-size: 20px;
          content: "\e002";
          color: $grey;
        }
      }
    }
  }
}
