@use "./base/reset";
@use "./base/extends";
@use "./base/fonts";
@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./icons/icons";

body {
  background-color: $bodybg;
}

main {
  width: 90%;
  margin: 20px auto;
  max-width: 550px;
  font-family: "Roboto", sans-serif;
}

.form {
  position: relative;
  background-color: $green;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;

  @extend %placeholdertextcolor;
  @extend %shadow;

  &__input {
    border: none;
    border-radius: 10px;
    height: 65px;
    width: 97%;
    padding-left: 30px;
    padding-right: 60px;
    background-color: $light-green;
    color: white;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
  &__submit {
    position: absolute;
    flex-shrink: 0;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border: none;
    right: 20px;
    cursor: pointer;
    &::before {
      font-family: icons;
      content: "\e000";
      font-size: 30px;
      color: $green;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__item {
    @extend %shadow;
    position: relative;
    font-size: 16px;
    color: $black;
    padding: 20px;
    min-height: 20px;
    background-color: $white;
    margin-bottom: 12px;
    border-radius: 10px;
    width: 95%;
    align-self: center;
    display: flex;

    &__text {
      padding-left: 14px;
    }
    &__button {
      position: absolute;
      border: none;
      background-color: white;
      align-self: center;

      cursor: pointer;
      &--remove {
        border-right: $grey solid 1.5px;
        padding-right: 25px;
        right: 70px;
        &:after {
          font-family: icons;
          font-size: 20px;
          content: "\e001";
          color: $grey;
        }
      }
      &--check {
        right: 20px;
        &:after {
          font-family: icons;
          font-size: 20px;
          content: "\e002";
          color: $grey;
        }
      }
    }
  }
}
