%responsive {
  display: block;
  width: 100%;
  height: auto;
}

%placeholdertextcolor {
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}

%shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
}
